@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: fit-content;
  height: 100vh;
  padding: 28px;
  display: flex;
  justify-content: center;
  background-color: #d5e1ef;
  align-items: center;
  font-family: outfit;
}

.content {
  width: 320px;
  height: 499px;
  background-color: #fff;
  padding: 16px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.image img {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.text {
  text-align: center;
  margin-top: 24px;
  padding: 0 16px;
}

.text h2 {
  font-size: 22px;
}

.text p {
  margin-top: 16px;
  padding-bottom: 40px;
  font-size: 15px;
}
